#wrapper {
    width: 1890px;
    height: 1600px;
}

body {
    margin: 0;
    background-image: url(desert_esvious.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
} 

header {
    display: flex; 
    position: fixed;
    width: 92%;
    margin-left: 60px;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center; 
    z-index: 99;
}

header p {
    color: #FFFFFF;
    font-size: 10px;
}

p {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.collection {
    margin-left: 10px;
    margin-top: -400px;
}


.ageless img {
    width: 1900px;
    margin-left: -10px;
}

.land-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: -40px;
    margin-left: 25px;

}

.land-grid p {
    color: #FFFFFF;
    font-family: "JetBrains Mono", monospace;
    font-weight: 200;
    font-style: italic;
    font-size: 12px;

}

footer {
    margin-left: 20px;
    margin-top: 200px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #FF5C00;
    transition: ease-in-out .3s;
}

a::after {
    color: #FF5C00;
}


footer p{
    color: #FFFFFF;
    font-family: "JetBrains Mono", monospace;
    font-weight: 200;
    font-style: italic;
    font-size: 12px;
}


/* BUTTON MENU */
.atypical-menu-button {
    width: 25px; /* Size of the button */
    height: 25px; /* Size of the button */
    background-color: #FF5C00;
    border: none;
    border-radius: 100%;
    position: relative;
    transition: transform 0.3s ease;
    color: white;
    z-index: 1001; /* Ensure button stays on top of the menu */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.atypical-menu-button::before, .atypical-menu-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #FF5C00;
    width: 180%;
    height: 5px;
    border-radius: 5px; /* Rounded ends */
    transition: transform 0.3s ease;
}

.atypical-menu-button::before {
    transform: translate(-50%, -50%);
}

.atypical-menu-button::after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.atypical-menu-button.rotate {
    transform: rotate(3deg);
}

.atypical-menu-button.rotate::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.atypical-menu-button.rotate::after {
    transform: translate(-50%, -50%) rotate(135deg);
}

/* Full-screen navigation styling */
.full-screen-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000; /* Slight transparency for overlay effect */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.5s;
    z-index: 1000; /* Below the button */
    
}

.full-screen-nav.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease;
}

.full-screen-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align:center;

}

.full-screen-nav li {
    margin: 20px 0;

}

.dot {
    background-color: #FF5C00;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.full-screen-nav a {
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.3s;
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
    font-style: italic;
    font-size: 45px;
}

.full-screen-nav a:hover {
    color: #FF5C00;
}

nav.full-screen-nav ul p.mob-foot {
    visibility: hidden;
}








/* Contact */

.formspree {
    background: #000000;
    padding: 20px;
    border-radius: 10px; /* Rounded edges */
    max-width: 400px;
    width: 100%;
    box-sizing: border-box; /* Ensures padding is included in the total width */
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between form elements */
}

label {
    font-weight: bold;
    color: #FFFFFF;
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
}

input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px; /* Rounded edges for input fields */
    font-size: 14px;
    background: rgba(202, 202, 202, 0.5); /* Semi-transparent input background */
    box-sizing: border-box; /* Ensures padding is included in the total width */
    outline: none;
}

input[type="email"]:focus,
textarea:focus {
    border-color: #FF5C00; /* Border color on focus */
    background: rgba(202, 202, 202, 0.5); /* Slightly less transparent on focus */
}

button[type="submit"] {
    padding: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 8px; /* Rounded edges for the button */
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button[type="submit"]:hover {
    background-color: #FF5C00; /* Darker shade on hover */
    color: #FFFFFF;
}


/* IMAGES */

body .images img{
    width: 1900px;

}


@media screen and (max-width: 1170px) {
    body .images img{
    width: auto;

}
}


@media screen and (max-width: 1170px) {

    #wrapper {
        width: 390px;
        height: 644px;
        top: 0;
    }

    header {
        display: flex; 
        position: fixed;
        width: 20.5%;
        margin-left: 20px;
        margin-top: 30px;
        justify-content: space-between;
        align-items: center; 
        z-index: 100;
    } 
    
    header p {
        font-size: 5px;
    }

    .nav-button {
        margin-left: 230px;
    }

    .collection {
        margin-left: 10px;
        margin-top: -60px;
        z-index: 99;
    }

    .ageless img {
        width: 380px;
        z-index: 99;
        position: relative;
    }

    .land-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: -10px;
        margin-left: 25px;
        position: relative;

    }
    
    .land-grid p {
        color: #FFFFFF;
        font-family: "JetBrains Mono", monospace;
        font-weight: 200;
        font-style: italic;
        font-size: 5px;
    }

    footer {
        margin-left: 6px;
        margin-top: 20px;
        position: relative;
        z-index: 99;
        visibility: hidden;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        color: #FF5C00;
        transition: ease-in-out .3s;
    }

    a::after {
        color: #FF5C00;
    }

    a:visited {
        color: #FF5C00;
    }


    footer p{
        color: #FFFFFF;
        font-family: "JetBrains Mono", monospace;
        font-weight: 200;
        font-style: italic;
        font-size: 10px;
    }
    




    /* Full-screen navigation styling */
    .full-screen-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000; /* Slight transparency for overlay effect */
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0s 0.5s;
        z-index: 1000; /* Below the button */
        
    }

    .full-screen-nav.visible {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s ease;
    }

    .full-screen-nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: right;
    }

    .full-screen-nav li {
        margin: 10px 0;
    }

    .dot {
        background-color: #FF5C00;
        border-radius: 100%;
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 300px;
        position: relative;
    }

    .full-screen-nav a {
        text-decoration: none;
        color: #FFFFFF;
        transition: color 0.3s;

        font-family: "JetBrains Mono", monospace;
        font-weight: 400;
        font-style: italic;
        font-size: 22px;
    }

    .full-screen-nav a:hover {
        color: #FF5C00;
    }

    nav.full-screen-nav ul p.mob-foot {
        visibility: visible;
        font-size: 9px;
    }
    
    nav.full-screen-nav ul p.mob-foot a {
        color: #FF5C00;
        font-size: 9px;
    }

    nav.full-screen-nav ul p.mob-foot a:hover {
        color: #FFFFFF;
    }


    body .images img{
        width: 389px;
        height: 400px;
        overflow-x: hidden;
    }

}